@model Client.Controllers.PasswordView
<div class="card small center">
	<form id="User_Password">
		<input type="hidden" asp-for="Id" />
		<label asp-for="Password">Contraseña</label>
		<input id="password" type="password" asp-for="Password" />
		<input type="button" value="Enviar" onclick="post('/Security/PasswordUpdate', { id: '@Model.Id', password: $('#password').val() }); closeModal();" />
	</form>
</div>