

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


ion-content {
    --ion-background-color: #ffffff; /* Color blanco */
    --color: #000000;
}

ion-toolbar {
  --background: #ffffff; /* Color blanco */
  --color: #000000; /* Color del texto */
  --ion-background-color: #ffffff; /* Color blanco */
  --background-color: #ffffff;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; /* Ajusta la altura según sea necesario */
}