ion-content {
    --ion-background-color: #ffffff; /* Color blanco */
    --color: #000000;
}

ion-toolbar {
  --background: #ffffff; /* Color blanco */
  --color: #000000; /* Color del texto */
  --ion-background-color: #ffffff; /* Color blanco */
  --background-color: #ffffff;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altura total de la ventana */
}

.table-container {
  flex: 1;
  overflow-y: auto; /* Permite el desplazamiento vertical */
}

.mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.circle-button-blue {
  color: white;
  background-color: rgba(57, 89, 178, 0.9);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.circle-button-white {
  color: black;
  background-color: rgb(220, 224, 245);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.circle-button-option {
  margin-right: 5px;
  width: 53px; 
  height: 53px;
}



.accordion-header {
  display: flex;
  align-items: center;
}

.text-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-9 {
  flex: 1; /* Asegura que ocupe el espacio disponible sin desplazarse */
  min-width: 0; /* Evita que el contenido cause el desbordamiento */
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;

}

.drawer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1; /* Ocupa el espacio restante */
  height: 100vh;
}

.scrollable-content {
  overflow-y: auto;
  flex: 1; /* Ocupa el espacio restante */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.paginator-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Ajusta según sea necesario */
}

.circle-button-large {
  width: 48px;  /* Aumenta el tamaño del botón */
  height: 48px; /* Aumenta el tamaño del botón */
}

.large-icon {
  font-size: 24px;  /* Aumenta el tamaño del icono */
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajusta la altura según sea necesario */
}