ion-content {
    --ion-background-color: #ffffff; /* Color blanco */
    --color: #000000;
}

ion-toolbar {
  --background: #ffffff; /* Color blanco */
  --color: #000000; /* Color del texto */
  --ion-background-color: #ffffff; /* Color blanco */
  --background-color: #ffffff;
}