.labor-1
{
    width: calc(100% - 14px) * 0.8 !important;
}
.labor-2
{
    width: calc(100% - 14px) * 0.2 !important;
}
.circle
{
    margin: 0;
    width: 14px !important;
    text-align: center;
    vertical-align: middle;
}

.circle span
{
    text-align: right;
    padding: 6px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.float_right measurement3 td.circle
{
    width: 1% !important;
}
