@page
@model Error_401Model

@{
    ViewData["Title"] = "Acceso Denegado";
}
    <div class="row top container">
    <div class="card small center">
            <h3>@ViewData["Title"]</h3>
        <p>
            <i class="icon-alert-octagon icon-2x"></i>
        </p>
            <p>
                No tiene permisos para acceder al contenido seleccionado.
            </p>
            <br />
        </div>
    </div>
