/* Ocultar todos los elementos durante el escaneo */
body.barcode-scanner-active {
  visibility: hidden;
  --background: transparent;
  --ion-background-color: transparent;
}

/* Mostrar solo el modal de escaneo */
.barcode-scanner-modal {
  visibility: visible;
}

@media (prefers-color-scheme: dark) {
  .barcode-scanner-modal {
    --background: transparent;
    --ion-background-color: transparent;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; /* Ajusta según sea necesario */
}