@page
@model ChangedModel
@{ 
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Confirmación de reestablecimiento de contraseña"; 
}

       <p>
    Tu contraseña se ha reiniciado con éxito.
    <br />
    Ahora puedes <a rel="nofollow" asp-page="./Login">entrar</a> con tu nueva clave.
</p>
