@page
@model PasswordModel
@{
	Layout = "_Layout.cshtml";
	ViewData["Title"] = "Cambiar Contraseña";
}

		@if (!string.IsNullOrEmpty(Model.StatusMessage))
		{
			<p class="green">
				@Html.Raw(Model.StatusMessage)
				<br />
			</p>
		}
		<form id="change-password-form" method="post">
			<div asp-validation-summary="ModelOnly" class="error"></div>

			<label asp-for="Input.OldPassword"></label>
			<span asp-validation-for="Input.OldPassword" class="error"></span>
			<input asp-for="Input.OldPassword" />
			<label asp-for="Input.NewPassword"></label>
			<span asp-validation-for="Input.NewPassword" class="error"></span>
			<input asp-for="Input.NewPassword" />
			<label asp-for="Input.ConfirmPassword"></label>
			<span asp-validation-for="Input.ConfirmPassword" class="error"></span>
			<input asp-for="Input.ConfirmPassword" />
			<button type="submit" class="btn btn-primary">Cambiar</button>
		</form>