@page
@model SuccessModel
@{
	Layout = "_Layout.cshtml";
	ViewData["Title"] = "Registro Confirmado";

	// string url = $"{Common.GetCurrentRootUrl(HttpContext)}/Security/Identity/Register?reference={Model.UserName}";
}
	<p>
		Gracias por confirmar tu email. Ya tienes acceso a las áreas protegidas.
	</p>