
<mat-dialog-content class="mat-typography " style="text-align: center;">

  <h6 mat-dialog-title>Recuperar Contraseña</h6>
  
  <form style="margin-top: 20px;">

    <p>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Indique su Email</mat-label>
        <input  matInput placeholder="Ej: app@gmail.com">
        <mat-icon matSuffix>mail</mat-icon>
        
      </mat-form-field>
    </p>
    
    <br>
    <button type="button" class="w-75" mat-flat-button>Enviar</button>

  </form>
  
</mat-dialog-content>
